/* @media
xs max 349px
s 350px - 399px
m 400px - 549px
l 550px -949px
xl 950px - 1449px
xxl min 1450px
*/

html {
  font-size: 10px;
}

:root {
  --bg-brown: #303030;
  --bg-red: #e50914;
  --bg-red-hover: #f40612;
  --font-color: #ecffff;
  --footer-font-color: #757575;
  --section-line-break: #222;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background: #000;
  min-height: 100vh;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Netflix Sans',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5rem;
  /* letter-spacing: 1px; */
}

li {
  list-style: none;
}

a,
a:link,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
  font-family: inherit;
  border: none;
}

button {
  border: none;
  outline: none;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

img {
  max-width: 100%;
}

video,
audio,
canvas {
  display: inline-block;
  vertical-align: baseline;
}

video {
  object-fit: contain;
}

input {
  box-sizing: border-box;
  outline: none;
  border: none;
  line-height: normal;
}

select {
  outline: none;
}

input,
button,
select,
textarea {
  margin: 0;
  font: inherit;
}
